.app-toolbar {
  height: 52px;
}

.app-toolbar__github-button {
  padding: 5px;
}

.app-toolbar__github-image {
  margin-right: 10px;
}

.app-toolbar__spacer {
  flex: 1 1 auto;
}

.app-main {
  padding: 20px;
}

.app-demo-toggle {
  margin-bottom: 15px;
}
